<section class="section featured">
  <div class="title">
    <span></span>
    <h2>featured</h2>
    <span></span>
  </div>
  <div class="section-center featured-center">
    <article *ngFor="let product of products" class="product">
      <div class="product-container">
        <img [src]="product.img" class="product-img img" alt="" />

        <div class="product-icons">
          <a [routerLink]="['/', 'products', product.id]" class="product-icon">
            <i class="fas fa-search"></i>
          </a>
          <button class="product-cart-btn product-icon" data-id="1">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <footer>
        <h5 class="product-name">{{ product.name }}</h5>
        <span class="product-price">{{
          product.price | currency : "USD"
        }}</span>
      </footer>
    </article>
  </div>
  <a [routerLink]="['/', 'products']" class="btn"> all products </a>
</section>
